.projects #projects{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px ;
}


.projects .projects-header h1{
	margin-botom: 50px;
}

.projects .all-projects{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.projects .project-item{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
} 

.projects .project-info{
	padding: 30px;
	flex-basis: 50%;
	background-color: #8fd3f4;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	color
} 


.projects .project-info h1{ 
	font-size: 4rem;
	font-weight: 500;
}
